
{% extends 'dowhat/member_base.html' %}


<div class="'container">
        {% block title %}

        <h1>追加画面</h1>



          {% endblock %}




        {% block content %}
        <div class="alert alert-success" role="alert">
        <form action="{%url 'member_add' %}" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}


            <h6>追加しますか？</h6>
            <input type="submit" class = 'btn btn-deafault' value="追加"/>
        </form>
        </div>
        {% endblock %}

</div>