{% extends 'dowhat/member_base.html' %}


<div class="'container">
        {% block title %}

        <h1>削除画面</h1>



          {% endblock %}




        {% block content %}

        <div class="alert alert-success" role="alert">

        <form action="{%url 'member_delete' member.id %}" method="POST" >
            {% csrf_token %}

            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{{member.member_name}}</h4>
                {{member.mail_adress}}
            </div>



            <h6>削除しますか？</h6>
            <input type="submit" class = 'btn btn-deafault' value="削除"/>
        </form>

        </div>

        {% endblock %}

</div>